.info {
  display: flex;
  flex-direction: column;
}
.movieInfo {
  display: flex;
  gap: 30px;
  padding-bottom: 50px;
  align-items: center;
  padding-top: 50px;
}

.title {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.link {
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s ease;
  color: black;
  align-items: center;
  display: flex;
  gap: 5px;
}

.link:hover {
  color: blue;
}
