.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: calc((100% - 210px) / 8);
}

